<footer>
    <div class="row">
        <div class="footer col-lg-12 col-md-12 col-sm-12">
            <h2 class="footerText"><a href="https://www.linkedin.com/in/matias-milla-17300b193/">Linkedin</a> --
                Copyright © 2020 Matias Milla
                --
                <a href="https://github.com/gmatias89">Github</a></h2>

        </div>
    </div>
</footer>

</html>