<div class="bg-img"></div>
<div class="row front">


    <div class="frontTextoDiv col-lg-6 col-md-6 col-sm-12">
        <div class="frontTextoBox">
            <h1 class="frontTexto">Matias Milla </h1>
            <h3 class="frontTexto">Full-Stack Developer</h3>
        </div>
    </div>

    <div class="frontImgDiv col-lg-6 col-md-6 col-sm-12">
        <img class="frontImg" src="img\logoportfolio.png" alt="Computadora">
    </div>
</div>