<section class="row" id="Perfil">

    <div class="col-lg-6 col-md-6 col-sm-12 perfil-left">
        <div class="gradientBox">
            <img src="img\40328851.jpg" alt="">
        </div>
        <p>Mi nombre es Matias Milla, tengo 21 años, soy estudiante de Lic en sistemas en la Universidad de lanus
            y un apasionado de la computacion y la programacion, aprendo y me adapto con rapidez y siempre estoy
            dispuesto a aprender cosas nuevas!
        </p>
    </div>

    <div class="vertical-line d-none d-md-block"></div>

    <div class=" col-lg-6 col-md-6 col-sm-12 row skills">
        <div class=" col-lg-12 col-md-12 col-sm-12 skill1">
            <img src="img\skill1.png" alt="Gears sobre fondo violeta">
            <h2>Desarrollo</h2>
            <p>Poseo conocimientos en la POO (lenguajes que conozco: C, Java y Python) y en Bases de datos (MySQL y
                MongoDB), tambien se sobre metodologias agiles y diagramas UML.
                utilizo el control de versiones Git con regularidad</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 skill2">
            <img src="img\skill2.png" alt="Gears sobre fondo violeta">
            <h2>Desarrollo web</h2>
            <p>Utilizo Node.js con Express , React.js o plantillas EJS y Mongoose (MongoDB) y por supuesto, se utilizar
                HTML5 y CSS3, asi como JQuery y Bootstrap .</p>
        </div>
    </div>
</section>