<div class="proyectos" id="Proyectos">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <!-- ----------------------------------------------Primer item ------------------------------------->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/proyecto1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block item">
                    <h5 class="carouselH1"><a href="https://github.com/gmatias89/Portfolio"
                            target="_blank">Portfolio</a> </h5>
                    <p class="carouselP">El codigo fuente de este Portfolio se encuentra publico en Github -><a
                            href="https://github.com/gmatias89/Portfolio" target="_blank"><img class="githubicon"
                                src="img/github-icon.png" alt=""></a></p>
                </div>
            </div>
            <!-- ----------------------------------------------Segundo item ------------------------------------->
            <div class="carousel-item ">
                <a href="https://todolist-gmatias89.herokuapp.com/" target="_blank"> <img src="img/proyecto2.png"
                        class="d-block w-100" alt="..."> </a>
                <div class="carousel-caption d-none d-md-block item">
                    <h5 class="carouselH1"><a href="https://todolist-gmatias89.herokuapp.com/" target="_blank">Todo List
                            con MongoDB</a>
                    </h5>
                    <p class="carouselP">Todo List hecho con Node.js y MongoDB con creacion de tareas y multiples listas
                        ->Github <a href="https://github.com/gmatias89/TodoListMongoDB" target="_blank"><img
                                class="githubicon" src="img/github-icon.png" alt=""></a></p>
                </div>
            </div>
            <!-- ----------------------------------------------Tercer item ------------------------------------->
            <div class="carousel-item">
                <a href="http://blog-gmatias89.herokuapp.com/" target="_blank"> <img src="img/proyecto3.png"
                        class="d-block w-100" alt="..."> </a>
                <div class="carousel-caption d-none d-md-block item">
                    <h5 class="carouselH1"><a href="http://blog-gmatias89.herokuapp.com/" target="_blank">Blog con
                            MongoDB</a></h5>
                    <p class="carouselP">Blog hecho con Node.js y MongoDB con Creacion de posts ->Github<a
                            href="https://github.com/gmatias89/BlogMongoDB" target="_blank"><img class="githubicon"
                                src="img/github-icon.png" alt=""></a></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>