<section class="row" id="Proyectos">
    <h1 class="col-12">Proyectos</h1>

    <!-- ----------------------------------------- Primer proyecto -------------------------------------------------->

    <div class="proyecto-card col-10 row">

        <div class="proyecto-img-div col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">

            <a href="#Front">
                <img class="proyecto-img" src="\img\proyecto1.png" alt="Un preview de un proyecto">
            </a>

        </div>
        <div class="proyecto-texto col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <h2 class="proyecto-title">Portfolio</h2>
            <p class="proyecto-desc">Este portfolio utiliza un back end en Node.js con Express, Nodemailer para la
                funcionalidad del contacto y asi yo recibir el email automaticamente, Body Parser, plantillas EJS para
                un mejor orden
                y mejor visibilidad del proyecto y bootstrap para los componentes responsive.
            </p>
            <a class="proyecto-links" rel="noopener noreferrer" href="https://github.com/gmatias89/Portfolio"
                target="_blank"><img src="\img\github.svg" alt="Icono de Github">En Github</a><br>
            <a class="proyecto-links" href="#Front"><img src="\img\heroku.svg" alt="Icono de Heroku">En vivo en
                Heroku</a>
        </div>

    </div>
    <!-- ----------------------------------------- Segundo Proyecto -------------------------------------------------->
    <div class="proyecto-card col-10 row">

        <div class="proyecto-img-div col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">

            <a href="https://todolist-gmatias89.herokuapp.com/" rel="noopener noreferrer" target="_blank">
                <img class="proyecto-img" src="\img\proyecto2.png" alt="Un preview de un proyecto">
            </a>

        </div>
        <div class="proyecto-texto col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <h2 class="proyecto-title">Todo List</h2>
            <p class="proyecto-desc"> Este todo list fue hecho en Node.js con Express, base de datos en MongoDB manejado
                con Mongoose y alojada en MongoDB Atlas, tiene la funcionalidad de poder abrir multiples listas de
                tareas
                simplemente cambiando la ruta con el nombre que se quiere y se creara y guardara en la base de datos
                ej: "Todolist.com/NombreDeLaListaACrear".

            </p>
            <a class="proyecto-links" rel="noopener noreferrer" href="https://github.com/gmatias89/TodoListMongoDB"
                target="_blank"><img src="\img\github.svg" alt="Icono de Github">En Github</a><br>
            <a class="proyecto-links" rel="noopener noreferrer" href="https://todolist-gmatias89.herokuapp.com/"
                target="_blank"><img src="\img\heroku.svg" alt="Icono de Heroku">En vivo en Heroku</a>
        </div>

    </div>
    <!-- ----------------------------------------- Tercer Proyecto -------------------------------------------------->
    <div class="proyecto-card col-10 row">

        <div class="proyecto-img-div col-xl-4    col-lg-4 col-md-12 col-sm-12 col-12">

            <a rel="noopener noreferrer" href="http://blog-gmatias89.herokuapp.com/" target="_blank">
                <img class="proyecto-img" src="\img\proyecto3.png" alt="Un preview de un proyecto">
            </a>

        </div>
        <div class="proyecto-texto col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <h2 class="proyecto-title">Blog</h2>
            <p class="proyecto-desc">Este Blog fue hecho en Node.js con Express, base de datos en MongoDB manejado
                con Mongoose y alojada en MongoDB Atlas, tiene la funcionalidad de poder agregar posts agregando
                "/compose"
                al final de la ruta como una ruta secreta, por ej: "Blog.com/compose".
            </p>
            <a class="proyecto-links" rel="noopener noreferrer" href="https://github.com/gmatias89/BlogMongoDB"
                target="_blank"><img src="\img\github.svg" alt="Icono de Github">En Github</a><br>
            <a class="proyecto-links" rel="noopener noreferrer" href="http://blog-gmatias89.herokuapp.com/"
                target="_blank"><img src="\img\heroku.svg" alt="Icono de Heroku">En vivo en Heroku</a>
        </div>

    </div>
    <!-- ----------------------------------------- Cuarto Proyecto -------------------------------------------------->
    <div class="proyecto-card col-10 row">

        <div class="proyecto-img-div col-xl-4  col-lg-4 col-md-12 col-sm-12 col-12">

            <a rel="noopener noreferrer" href="https://hypersend.herokuapp.com/" target="_blank">
                <img class="proyecto-img" src="\img\proyecto4.png" alt="Un preview de un proyecto">
            </a>

        </div>
        <div class="proyecto-texto col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <h2 class="proyecto-title">HyperSend - Url Shortener</h2>
            <p class="proyecto-desc">Un acortador de urls hecho en Node.js con Express, MongoDB y mongoose para el
                guardado del url original y la key para acceder a esa url, Por Ejemplo:
                "hypersend.herokuapp.com/url/25dix".
            </p>
            <a class="proyecto-links" rel="noopener noreferrer"
                href="https://github.com/gmatias89/HyperSend-Url-Shortener" target="_blank"><img src="\img\github.svg"
                    alt="Icono de Github">En Github</a><br>
            <a class="proyecto-links" rel="noopener noreferrer" href="https://hypersend.herokuapp.com/"
                target="_blank"><img src="\img\heroku.svg" alt="Icono de Heroku">En vivo en Heroku</a>
        </div>

    </div>
</section>