<section class="row" id="Proyectos">
    <h1 class="col-12">Proyectos</h1>

    <div class="proyecto-card col-10 row">
        <div class="proyecto-img-div col-lg-4 col-md-12 col-sm-12">
            <a href=""><img class="proyecto-img" src="\img\proyecto1.png" alt=""></a>
        </div>
        <div class="proyecto-texto col-lg-6 col-md-12 col-sm-12">
            <h2 class="proyecto-title">Portfolio</h2>
            <p class="proyecto-desc">Este portfolio utiliza un back end en Node.js con Express, Nodemailer para la
                funcionalidad del contacto y asi yo recibir el email automaticamente, Body Parser, plantillas EJS para
                un mejor orden
                y mejor visibilidad del proyecto y bootstrap para los componentes responsive.
            </p>
            <a class="proyecto-links" href=""><img src="\img\github.svg" alt="">En Github</a><br>
            <a class="proyecto-links" href=""><img src="\img\heroku.svg" alt="">En vivo en Heroku</a>
        </div>

    </div>

    <div class="proyecto-card col-10 row">
        <div class="proyecto-img-div col-lg-4 col-md-12 col-sm-12">
            <a href=""><img class="proyecto-img" src="\img\proyecto2.png" alt=""></a>
        </div>
        <div class="proyecto-texto col-lg-6 col-md-12 col-sm-12">
            <h2 class="proyecto-title">Todo List</h2>
            <p class="proyecto-desc"> Este todo list fue hecho en Node.js con Express, base de datos en MongoDB manejado
                con Mongoose y alojada en MongoDB Atlas, tiene la funcionalidad de poder abrir multiples listas de
                tareas
                simplemente cambiando la ruta con el nombre que se quiere y se creara y guardara en la base de datos
                ej: "Todolist.com/NombreDeLaListaACrear".

            </p>
            <a class="proyecto-links" href=""><img src="\img\github.svg" alt="">En Github</a><br>
            <a class="proyecto-links" href=""><img src="\img\heroku.svg" alt="">En vivo en Heroku</a>
        </div>

    </div>

    <div class="proyecto-card col-10 row">
        <div class="proyecto-img-div col-lg-4 col-md-12 col-sm-12">
            <a href=""><img class="proyecto-img" src="\img\proyecto3.png" alt=""></a>
        </div>
        <div class="proyecto-texto col-lg-6 col-md-12 col-sm-12">
            <h2 class="proyecto-title">Blog</h2>
            <p class="proyecto-desc">Este Blog fue hecho en Node.js con Express, base de datos en MongoDB manejado
                con Mongoose y alojada en MongoDB Atlas, tiene la funcionalidad de poder agregar posts agregando
                "/compose"
                al final de la ruta como una ruta secreta, por ej: "Blog.com/compose".
            </p>
            <a class="proyecto-links" href=""><img src="\img\github.svg" alt="">En Github</a><br>
            <a class="proyecto-links" href=""><img src="\img\heroku.svg" alt="">En vivo en Heroku</a>
        </div>

    </div>

</section>